Source: stud
Section: net
Priority: extra
Maintainer: Marcelo Martins <btorch@gmail.com>
XSBC-Original-Maintainer: Debian stud Maintainers <pkg-stud-maintainers@lists.alioth.debian.org>
Uploaders: Christo Buschek <crito@30loops.net>,
           Vincent Bernat <bernat@debian.org>,
            Marcelo Martins <btorch@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libev-dev (>= 4), libssl-dev (>=1.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/btorch/stud
Vcs-Git: git://github.com/btorch/stud.git

Package: stud
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: scalable TLS unwrapping daemon
 stud is a network proxy that terminates TLS/SSL connections and
 forwards the unencrypted traffic to some backend. It's designed to
 handle 10s of thousands of connections efficiently on multicore
 machines. stud has very few features -- it's designed to be paired
 with an intelligent backend like haproxy or nginx.
